@import "tailwindcss";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#logo {
  background-color: rgba(0,0,0,0.5);
}

@font-face {
  font-family: "Norse";
  src: url("./fonts/norse/Norse.otf");
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Medium.ttf");
}

#odin-name {
  font-family: "Norse";
}

#text {
  padding-left: 50px;
  padding-top: 50px;
}

#form-container {
  padding: 20px 0 30px 60px;
  font-family: "Poppins", sans-serif;
}

#form {
  padding-top: 30px;

}

#first_name, #last_name, #user_email, #user_password, #user_number, #confirm_password {
  padding: 3px;
  
}

input[type=number] {
  -moz-appearance: textfield;
}